<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchContrServicesCap" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.CoId.label%></td>    
                <td><input type="text" class="form-control" name="co_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newContrServicesCap">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.ContrServicesCap.CoId.header%></th>
                <th><%=resource.ContrServicesCap.Sncode.header%></th>
                <th><%=resource.ContrServicesCap.Seqno.header%></th>
                <th><%=resource.ContrServicesCap.SeqnoPre.header%></th>
                <th><%=resource.ContrServicesCap.Bccode.header%></th>
                <th><%=resource.ContrServicesCap.PendingBccode.header%></th>
                <th><%=resource.ContrServicesCap.DnId.header%></th>
                <th><%=resource.ContrServicesCap.DnBlockId.header%></th>
                <th><%=resource.ContrServicesCap.MainDirnum.header%></th>
                <th><%=resource.ContrServicesCap.CsStatus.header%></th>
                <th><%=resource.ContrServicesCap.CsActivDate.header%></th>
                <th><%=resource.ContrServicesCap.CsDeactivDate.header%></th>
                <th><%=resource.ContrServicesCap.CsRequest.header%></th>
                <th><%=resource.ContrServicesCap.RecVersion.header%></th>
                <th><%=resource.ContrServicesCap.PublicNumberDnId.header%></th>
                <th><%=resource.ContrServicesCap.VpnId.header%></th>
                <th><%=resource.ContrServicesCap.PublicBlockId.header%></th>
                <th><%=resource.ContrServicesCap.ProfileId.header%></th>
                <th><%=resource.ContrServicesCap.DnShownInBill.header%></th>
                <th><%=resource.ContrServicesCap.RequestId.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.co_id%></a></td>
                <td><a><%=row.sncode%></a></td>
                <td><a><%=row.seqno%></a></td>
                <td><a><%=row.seqno_pre%></a></td>
                <td><a><%=row.bccode%></a></td>
                <td><a><%=row.pending_bccode%></a></td>
                <td><a><%=row.dn_id%></a></td>
                <td><a><%=row.dn_block_id%></a></td>
                <td><a><%=row.main_dirnum%></a></td>
                <td><a><%=row.cs_status%></a></td>
                <td><a><%=dateFormat(row.cs_activ_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=dateFormat(row.cs_deactiv_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.cs_request%></a></td>
                <td><a><%=row.rec_version%></a></td>
                <td><a><%=row.public_number_dn_id%></a></td>
                <td><a><%=row.vpn_id%></a></td>
                <td><a><%=row.public_block_id%></a></td>
                <td><a><%=row.profile_id%></a></td>
                <td><a><%=row.dn_shown_in_bill%></a></td>
                <td><a><%=row.request_id%></a></td>
                
                <td><a href="/readContrServicesCap?coId=<%=row.co_id%>" style="color: green"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeContrServicesCap?coId=<%=row.co_id%>" style="color: green"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteContrServicesCap?coId=<%=row.co_id%>" style="color: green"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
