<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newContrServicesCap" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.CoId.label%></td>
                <td><input type="text" class="form-control" name="coId" value="<%=record.coId%>"/></td>
            </tr><tr>
                <td><%=resource.Sncode.label%></td>
                <td><input type="text" class="form-control" name="sncode" value="<%=record.sncode%>"/></td>
            </tr><tr>
                <td><%=resource.Seqno.label%></td>
                <td><input type="text" class="form-control" name="seqno" value="<%=record.seqno%>"/></td>
            </tr><tr>
                <td><%=resource.SeqnoPre.label%></td>
                <td><input type="text" class="form-control" name="seqnoPre" value="<%=record.seqnoPre%>"/></td>
            </tr><tr>
                <td><%=resource.Bccode.label%></td>
                <td><input type="text" class="form-control" name="bccode" value="<%=record.bccode%>"/></td>
            </tr><tr>
                <td><%=resource.PendingBccode.label%></td>
                <td><input type="text" class="form-control" name="pendingBccode" value="<%=record.pendingBccode%>"/></td>
            </tr><tr>
                <td><%=resource.DnId.label%></td>
                <td><input type="text" class="form-control" name="dnId" value="<%=record.dnId%>"/></td>
            </tr><tr>
                <td><%=resource.DnBlockId.label%></td>
                <td><input type="text" class="form-control" name="dnBlockId" value="<%=record.dnBlockId%>"/></td>
            </tr><tr>
                <td><%=resource.MainDirnum.label%></td>
                <td><input type="text" class="form-control" name="mainDirnum" value="<%=record.mainDirnum%>"/></td>
            </tr><tr>
                <td><%=resource.CsStatus.label%></td>
                <td><input type="text" class="form-control" name="csStatus" value="<%=record.csStatus%>"/></td>
            </tr><tr>
                <td><%=resource.CsActivDate.label%></td>
                <td><input type="text" class="form-control" name="csActivDate" value="<%=record.csActivDate%>"/></td>
            </tr><tr>
                <td><%=resource.CsDeactivDate.label%></td>
                <td><input type="text" class="form-control" name="csDeactivDate" value="<%=record.csDeactivDate%>"/></td>
            </tr><tr>
                <td><%=resource.CsRequest.label%></td>
                <td><input type="text" class="form-control" name="csRequest" value="<%=record.csRequest%>"/></td>
            </tr><tr>
                <td><%=resource.RecVersion.label%></td>
                <td><input type="text" class="form-control" name="recVersion" value="<%=record.recVersion%>"/></td>
            </tr><tr>
                <td><%=resource.PublicNumberDnId.label%></td>
                <td><input type="text" class="form-control" name="publicNumberDnId" value="<%=record.publicNumberDnId%>"/></td>
            </tr><tr>
                <td><%=resource.VpnId.label%></td>
                <td><input type="text" class="form-control" name="vpnId" value="<%=record.vpnId%>"/></td>
            </tr><tr>
                <td><%=resource.PublicBlockId.label%></td>
                <td><input type="text" class="form-control" name="publicBlockId" value="<%=record.publicBlockId%>"/></td>
            </tr><tr>
                <td><%=resource.ProfileId.label%></td>
                <td><input type="text" class="form-control" name="profileId" value="<%=record.profileId%>"/></td>
            </tr><tr>
                <td><%=resource.DnShownInBill.label%></td>
                <td><input type="text" class="form-control" name="dnShownInBill" value="<%=record.dnShownInBill%>"/></td>
            </tr><tr>
                <td><%=resource.RequestId.label%></td>
                <td><input type="text" class="form-control" name="requestId" value="<%=record.requestId%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
