<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchDirectoryNumber" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.DnId.label%></td>    
                <td><input type="text" class="form-control" name="dn_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newDirectoryNumber">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.DirectoryNumber.DnId.header%></th>
                <th><%=resource.DirectoryNumber.Plcode.header%></th>
                <th><%=resource.DirectoryNumber.Ndc.header%></th>
                <th><%=resource.DirectoryNumber.Hlcode.header%></th>
                <th><%=resource.DirectoryNumber.DnNum.header%></th>
                <th><%=resource.DirectoryNumber.DnStatus.header%></th>
                <th><%=resource.DirectoryNumber.DnStatusModDate.header%></th>
                <th><%=resource.DirectoryNumber.DealerId.header%></th>
                <th><%=resource.DirectoryNumber.DnAssignDate.header%></th>
                <th><%=resource.DirectoryNumber.DnPhoneFlag.header%></th>
                <th><%=resource.DirectoryNumber.DnType.header%></th>
                <th><%=resource.DirectoryNumber.DnStatusRequ.header%></th>
                <th><%=resource.DirectoryNumber.DnStaRequDate.header%></th>
                <th><%=resource.DirectoryNumber.DnAssign.header%></th>
                <th><%=resource.DirectoryNumber.DnEntdate.header%></th>
                <th><%=resource.DirectoryNumber.DnModdate.header%></th>
                <th><%=resource.DirectoryNumber.DnModflag.header%></th>
                <th><%=resource.DirectoryNumber.DnAuth.header%></th>
                <th><%=resource.DirectoryNumber.Evcode.header%></th>
                <th><%=resource.DirectoryNumber.Hmcode.header%></th>
                <th><%=resource.DirectoryNumber.LocalPrefixLen.header%></th>
                <th><%=resource.DirectoryNumber.SimpohId.header%></th>
                <th><%=resource.DirectoryNumber.SimpotId.header%></th>
                <th><%=resource.DirectoryNumber.SimpotBatch.header%></th>
                <th><%=resource.DirectoryNumber.ExternalInd.header%></th>
                <th><%=resource.DirectoryNumber.BlockInd.header%></th>
                <th><%=resource.DirectoryNumber.ExtensionLengthMax.header%></th>
                <th><%=resource.DirectoryNumber.DnAuthPending.header%></th>
                <th><%=resource.DirectoryNumber.RecVersion.header%></th>
                <th><%=resource.DirectoryNumber.DirnumNpcode.header%></th>
                <th><%=resource.DirectoryNumber.VpnId.header%></th>
                <th><%=resource.DirectoryNumber.StaticPdpRequired.header%></th>
                <th><%=resource.DirectoryNumber.RoamingAllowed.header%></th>
                <th><%=resource.DirectoryNumber.TransactionId.header%></th>
                <th><%=resource.DirectoryNumber.BusinessUnitId.header%></th>
                <th><%=resource.DirectoryNumber.ReservedForPortingInd.header%></th>
                <th><%=resource.DirectoryNumber.PortedNumberInd.header%></th>
                <th><%=resource.DirectoryNumber.Rscode.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.dn_id%></a></td>
                <td><a><%=row.plcode%></a></td>
                <td><a><%=row.ndc%></a></td>
                <td><a><%=row.hlcode%></a></td>
                <td><a><%=row.dn_num%></a></td>
                <td><a><%=row.dn_status%></a></td>
                <td><a><%=dateFormat(row.dn_status_mod_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.dealer_id%></a></td>
                <td><a><%=dateFormat(row.dn_assign_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.dn_phone_flag%></a></td>
                <td><a><%=row.dn_type%></a></td>
                <td><a><%=row.dn_status_requ%></a></td>
                <td><a><%=dateFormat(row.dn_sta_requ_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.dn_assign%></a></td>
                <td><a><%=dateFormat(row.dn_entdate,'mmm-dd-yyyy')%></a></td>
                <td><a><%=dateFormat(row.dn_moddate,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.dn_modflag%></a></td>
                <td><a><%=row.dn_auth%></a></td>
                <td><a><%=row.evcode%></a></td>
                <td><a><%=row.hmcode%></a></td>
                <td><a><%=row.local_prefix_len%></a></td>
                <td><a><%=row.simpoh_id%></a></td>
                <td><a><%=row.simpot_id%></a></td>
                <td><a><%=row.simpot_batch%></a></td>
                <td><a><%=row.external_ind%></a></td>
                <td><a><%=row.block_ind%></a></td>
                <td><a><%=row.extension_length_max%></a></td>
                <td><a><%=row.dn_auth_pending%></a></td>
                <td><a><%=row.rec_version%></a></td>
                <td><a><%=row.dirnum_npcode%></a></td>
                <td><a><%=row.vpn_id%></a></td>
                <td><a><%=row.static_pdp_required%></a></td>
                <td><a><%=row.roaming_allowed%></a></td>
                <td><a><%=row.transaction_id%></a></td>
                <td><a><%=row.business_unit_id%></a></td>
                <td><a><%=row.reserved_for_porting_ind%></a></td>
                <td><a><%=row.ported_number_ind%></a></td>
                <td><a><%=row.rscode%></a></td>
                
                <td><a href="/readDirectoryNumber?dnId=<%=row.dn_id%>" style="color: green"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeDirectoryNumber?dnId=<%=row.dn_id%>" style="color: green"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteDirectoryNumber?dnId=<%=row.dn_id%>" style="color: green"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
