<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/writeDirectoryNumber" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.DnId.label%></td>
                <td><input type="text" class="form-control" name="dnId" value="<%=record.dn_id%>"/></td>
            </tr><tr>
                <td><%=resource.Plcode.label%></td>
                <td><input type="text" class="form-control" name="plcode" value="<%=record.plcode%>"/></td>
            </tr><tr>
                <td><%=resource.Ndc.label%></td>
                <td><input type="text" class="form-control" name="ndc" value="<%=record.ndc%>"/></td>
            </tr><tr>
                <td><%=resource.Hlcode.label%></td>
                <td><input type="text" class="form-control" name="hlcode" value="<%=record.hlcode%>"/></td>
            </tr><tr>
                <td><%=resource.DnNum.label%></td>
                <td><input type="text" class="form-control" name="dnNum" value="<%=record.dn_num%>"/></td>
            </tr><tr>
                <td><%=resource.DnStatus.label%></td>
                <td><input type="text" class="form-control" name="dnStatus" value="<%=record.dn_status%>"/></td>
            </tr><tr>
                <td><%=resource.DnStatusModDate.label%></td>
                <td><input type="text" class="form-control" name="dnStatusModDate" value="<%=record.dn_status_mod_date%>"/></td>
            </tr><tr>
                <td><%=resource.DealerId.label%></td>
                <td><input type="text" class="form-control" name="dealerId" value="<%=record.dealer_id%>"/></td>
            </tr><tr>
                <td><%=resource.DnAssignDate.label%></td>
                <td><input type="text" class="form-control" name="dnAssignDate" value="<%=record.dn_assign_date%>"/></td>
            </tr><tr>
                <td><%=resource.DnPhoneFlag.label%></td>
                <td><input type="text" class="form-control" name="dnPhoneFlag" value="<%=record.dn_phone_flag%>"/></td>
            </tr><tr>
                <td><%=resource.DnType.label%></td>
                <td><input type="text" class="form-control" name="dnType" value="<%=record.dn_type%>"/></td>
            </tr><tr>
                <td><%=resource.DnStatusRequ.label%></td>
                <td><input type="text" class="form-control" name="dnStatusRequ" value="<%=record.dn_status_requ%>"/></td>
            </tr><tr>
                <td><%=resource.DnStaRequDate.label%></td>
                <td><input type="text" class="form-control" name="dnStaRequDate" value="<%=record.dn_sta_requ_date%>"/></td>
            </tr><tr>
                <td><%=resource.DnAssign.label%></td>
                <td><input type="text" class="form-control" name="dnAssign" value="<%=record.dn_assign%>"/></td>
            </tr><tr>
                <td><%=resource.DnEntdate.label%></td>
                <td><input type="text" class="form-control" name="dnEntdate" value="<%=record.dn_entdate%>"/></td>
            </tr><tr>
                <td><%=resource.DnModdate.label%></td>
                <td><input type="text" class="form-control" name="dnModdate" value="<%=record.dn_moddate%>"/></td>
            </tr><tr>
                <td><%=resource.DnModflag.label%></td>
                <td><input type="text" class="form-control" name="dnModflag" value="<%=record.dn_modflag%>"/></td>
            </tr><tr>
                <td><%=resource.DnAuth.label%></td>
                <td><input type="text" class="form-control" name="dnAuth" value="<%=record.dn_auth%>"/></td>
            </tr><tr>
                <td><%=resource.Evcode.label%></td>
                <td><input type="text" class="form-control" name="evcode" value="<%=record.evcode%>"/></td>
            </tr><tr>
                <td><%=resource.Hmcode.label%></td>
                <td><input type="text" class="form-control" name="hmcode" value="<%=record.hmcode%>"/></td>
            </tr><tr>
                <td><%=resource.LocalPrefixLen.label%></td>
                <td><input type="text" class="form-control" name="localPrefixLen" value="<%=record.local_prefix_len%>"/></td>
            </tr><tr>
                <td><%=resource.SimpohId.label%></td>
                <td><input type="text" class="form-control" name="simpohId" value="<%=record.simpoh_id%>"/></td>
            </tr><tr>
                <td><%=resource.SimpotId.label%></td>
                <td><input type="text" class="form-control" name="simpotId" value="<%=record.simpot_id%>"/></td>
            </tr><tr>
                <td><%=resource.SimpotBatch.label%></td>
                <td><input type="text" class="form-control" name="simpotBatch" value="<%=record.simpot_batch%>"/></td>
            </tr><tr>
                <td><%=resource.ExternalInd.label%></td>
                <td><input type="text" class="form-control" name="externalInd" value="<%=record.external_ind%>"/></td>
            </tr><tr>
                <td><%=resource.BlockInd.label%></td>
                <td><input type="text" class="form-control" name="blockInd" value="<%=record.block_ind%>"/></td>
            </tr><tr>
                <td><%=resource.ExtensionLengthMax.label%></td>
                <td><input type="text" class="form-control" name="extensionLengthMax" value="<%=record.extension_length_max%>"/></td>
            </tr><tr>
                <td><%=resource.DnAuthPending.label%></td>
                <td><input type="text" class="form-control" name="dnAuthPending" value="<%=record.dn_auth_pending%>"/></td>
            </tr><tr>
                <td><%=resource.RecVersion.label%></td>
                <td><input type="text" class="form-control" name="recVersion" value="<%=record.rec_version%>"/></td>
            </tr><tr>
                <td><%=resource.DirnumNpcode.label%></td>
                <td><input type="text" class="form-control" name="dirnumNpcode" value="<%=record.dirnum_npcode%>"/></td>
            </tr><tr>
                <td><%=resource.VpnId.label%></td>
                <td><input type="text" class="form-control" name="vpnId" value="<%=record.vpn_id%>"/></td>
            </tr><tr>
                <td><%=resource.StaticPdpRequired.label%></td>
                <td><input type="text" class="form-control" name="staticPdpRequired" value="<%=record.static_pdp_required%>"/></td>
            </tr><tr>
                <td><%=resource.RoamingAllowed.label%></td>
                <td><input type="text" class="form-control" name="roamingAllowed" value="<%=record.roaming_allowed%>"/></td>
            </tr><tr>
                <td><%=resource.TransactionId.label%></td>
                <td><input type="text" class="form-control" name="transactionId" value="<%=record.transaction_id%>"/></td>
            </tr><tr>
                <td><%=resource.BusinessUnitId.label%></td>
                <td><input type="text" class="form-control" name="businessUnitId" value="<%=record.business_unit_id%>"/></td>
            </tr><tr>
                <td><%=resource.ReservedForPortingInd.label%></td>
                <td><input type="text" class="form-control" name="reservedForPortingInd" value="<%=record.reserved_for_porting_ind%>"/></td>
            </tr><tr>
                <td><%=resource.PortedNumberInd.label%></td>
                <td><input type="text" class="form-control" name="portedNumberInd" value="<%=record.ported_number_ind%>"/></td>
            </tr><tr>
                <td><%=resource.Rscode.label%></td>
                <td><input type="text" class="form-control" name="rscode" value="<%=record.rscode%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Update</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default""><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
