<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newProfileService" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.ProfileId.label%></td>
                <td><input type="text" class="form-control" name="profileId" value="<%=record.profileId%>"/></td>
            </tr><tr>
                <td><%=resource.CoId.label%></td>
                <td><input type="text" class="form-control" name="coId" value="<%=record.coId%>"/></td>
            </tr><tr>
                <td><%=resource.Sncode.label%></td>
                <td><input type="text" class="form-control" name="sncode" value="<%=record.sncode%>"/></td>
            </tr><tr>
                <td><%=resource.SpcodeHistno.label%></td>
                <td><input type="text" class="form-control" name="spcodeHistno" value="<%=record.spcodeHistno%>"/></td>
            </tr><tr>
                <td><%=resource.StatusHistno.label%></td>
                <td><input type="text" class="form-control" name="statusHistno" value="<%=record.statusHistno%>"/></td>
            </tr><tr>
                <td><%=resource.EntryDate.label%></td>
                <td><input type="text" class="form-control" name="entryDate" value="<%=record.entryDate%>"/></td>
            </tr><tr>
                <td><%=resource.ChannelNum.label%></td>
                <td><input type="text" class="form-control" name="channelNum" value="<%=record.channelNum%>"/></td>
            </tr><tr>
                <td><%=resource.OvwAccFirst.label%></td>
                <td><input type="text" class="form-control" name="ovwAccFirst" value="<%=record.ovwAccFirst%>"/></td>
            </tr><tr>
                <td><%=resource.DateBilled.label%></td>
                <td><input type="text" class="form-control" name="dateBilled" value="<%=record.dateBilled%>"/></td>
            </tr><tr>
                <td><%=resource.SnClass.label%></td>
                <td><input type="text" class="form-control" name="snClass" value="<%=record.snClass%>"/></td>
            </tr><tr>
                <td><%=resource.OvwSubscr.label%></td>
                <td><input type="text" class="form-control" name="ovwSubscr" value="<%=record.ovwSubscr%>"/></td>
            </tr><tr>
                <td><%=resource.Subscript.label%></td>
                <td><input type="text" class="form-control" name="subscript" value="<%=record.subscript%>"/></td>
            </tr><tr>
                <td><%=resource.OvwAccess.label%></td>
                <td><input type="text" class="form-control" name="ovwAccess" value="<%=record.ovwAccess%>"/></td>
            </tr><tr>
                <td><%=resource.OvwAccPrd.label%></td>
                <td><input type="text" class="form-control" name="ovwAccPrd" value="<%=record.ovwAccPrd%>"/></td>
            </tr><tr>
                <td><%=resource.Accessfee.label%></td>
                <td><input type="text" class="form-control" name="accessfee" value="<%=record.accessfee%>"/></td>
            </tr><tr>
                <td><%=resource.ChannelExcl.label%></td>
                <td><input type="text" class="form-control" name="channelExcl" value="<%=record.channelExcl%>"/></td>
            </tr><tr>
                <td><%=resource.DisSubscr.label%></td>
                <td><input type="text" class="form-control" name="disSubscr" value="<%=record.disSubscr%>"/></td>
            </tr><tr>
                <td><%=resource.InstallDate.label%></td>
                <td><input type="text" class="form-control" name="installDate" value="<%=record.installDate%>"/></td>
            </tr><tr>
                <td><%=resource.TrialEndDate.label%></td>
                <td><input type="text" class="form-control" name="trialEndDate" value="<%=record.trialEndDate%>"/></td>
            </tr><tr>
                <td><%=resource.PrmValueId.label%></td>
                <td><input type="text" class="form-control" name="prmValueId" value="<%=record.prmValueId%>"/></td>
            </tr><tr>
                <td><%=resource.Currency.label%></td>
                <td><input type="text" class="form-control" name="currency" value="<%=record.currency%>"/></td>
            </tr><tr>
                <td><%=resource.SrvType.label%></td>
                <td><input type="text" class="form-control" name="srvType" value="<%=record.srvType%>"/></td>
            </tr><tr>
                <td><%=resource.SrvSubtype.label%></td>
                <td><input type="text" class="form-control" name="srvSubtype" value="<%=record.srvSubtype%>"/></td>
            </tr><tr>
                <td><%=resource.OvwAdvCharge.label%></td>
                <td><input type="text" class="form-control" name="ovwAdvCharge" value="<%=record.ovwAdvCharge%>"/></td>
            </tr><tr>
                <td><%=resource.AdvCharge.label%></td>
                <td><input type="text" class="form-control" name="advCharge" value="<%=record.advCharge%>"/></td>
            </tr><tr>
                <td><%=resource.AdvChargePrd.label%></td>
                <td><input type="text" class="form-control" name="advChargePrd" value="<%=record.advChargePrd%>"/></td>
            </tr><tr>
                <td><%=resource.DeleteFlag.label%></td>
                <td><input type="text" class="form-control" name="deleteFlag" value="<%=record.deleteFlag%>"/></td>
            </tr><tr>
                <td><%=resource.RecVersion.label%></td>
                <td><input type="text" class="form-control" name="recVersion" value="<%=record.recVersion%>"/></td>
            </tr><tr>
                <td><%=resource.AttribHistno.label%></td>
                <td><input type="text" class="form-control" name="attribHistno" value="<%=record.attribHistno%>"/></td>
            </tr><tr>
                <td><%=resource.AttribHistnoNnp.label%></td>
                <td><input type="text" class="form-control" name="attribHistnoNnp" value="<%=record.attribHistnoNnp%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
