<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchPrServStatusHist" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.ProfileId.label%></td>    
                <td><input type="text" class="form-control" name="profile_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newPrServStatusHist">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.PrServStatusHist.ProfileId.header%></th>
                <th><%=resource.PrServStatusHist.CoId.header%></th>
                <th><%=resource.PrServStatusHist.Sncode.header%></th>
                <th><%=resource.PrServStatusHist.Histno.header%></th>
                <th><%=resource.PrServStatusHist.Status.header%></th>
                <th><%=resource.PrServStatusHist.Reason.header%></th>
                <th><%=resource.PrServStatusHist.Transactionno.header%></th>
                <th><%=resource.PrServStatusHist.ValidFromDate.header%></th>
                <th><%=resource.PrServStatusHist.EntryDate.header%></th>
                <th><%=resource.PrServStatusHist.RequestId.header%></th>
                <th><%=resource.PrServStatusHist.RecVersion.header%></th>
                <th><%=resource.PrServStatusHist.UserReason.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.profile_id%></a></td>
                <td><a><%=row.co_id%></a></td>
                <td><a><%=row.sncode%></a></td>
                <td><a><%=row.histno%></a></td>
                <td><a><%=row.status%></a></td>
                <td><a><%=row.reason%></a></td>
                <td><a><%=row.transactionno%></a></td>
                <td><a><%=dateFormat(row.valid_from_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=dateFormat(row.entry_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.request_id%></a></td>
                <td><a><%=row.rec_version%></a></td>
                <td><a><%=row.user_reason%></a></td>
                
                <td><a href="/readPrServStatusHist?profileId=<%=row.profile_id%>" style="color: green"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writePrServStatusHist?profileId=<%=row.profile_id%>" style="color: green"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deletePrServStatusHist?profileId=<%=row.profile_id%>" style="color: green"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
