<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/writeStorageMedium" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.SmId.label%></td>
                <td><input type="text" class="form-control" name="smId" value="<%=record.sm_id%>"/></td>
            </tr><tr>
                <td><%=resource.Plcode.label%></td>
                <td><input type="text" class="form-control" name="plcode" value="<%=record.plcode%>"/></td>
            </tr><tr>
                <td><%=resource.SmcId.label%></td>
                <td><input type="text" class="form-control" name="smcId" value="<%=record.smc_id%>"/></td>
            </tr><tr>
                <td><%=resource.SmSerialnum.label%></td>
                <td><input type="text" class="form-control" name="smSerialnum" value="<%=record.sm_serialnum%>"/></td>
            </tr><tr>
                <td><%=resource.SmStatus.label%></td>
                <td><input type="text" class="form-control" name="smStatus" value="<%=record.sm_status%>"/></td>
            </tr><tr>
                <td><%=resource.SmStatusModDate.label%></td>
                <td><input type="text" class="form-control" name="smStatusModDate" value="<%=record.sm_status_mod_date%>"/></td>
            </tr><tr>
                <td><%=resource.DealerId.label%></td>
                <td><input type="text" class="form-control" name="dealerId" value="<%=record.dealer_id%>"/></td>
            </tr><tr>
                <td><%=resource.SmDeliveryId.label%></td>
                <td><input type="text" class="form-control" name="smDeliveryId" value="<%=record.sm_delivery_id%>"/></td>
            </tr><tr>
                <td><%=resource.SmDeliveryDate.label%></td>
                <td><input type="text" class="form-control" name="smDeliveryDate" value="<%=record.sm_delivery_date%>"/></td>
            </tr><tr>
                <td><%=resource.SimpohId.label%></td>
                <td><input type="text" class="form-control" name="simpohId" value="<%=record.simpoh_id%>"/></td>
            </tr><tr>
                <td><%=resource.SimpotId.label%></td>
                <td><input type="text" class="form-control" name="simpotId" value="<%=record.simpot_id%>"/></td>
            </tr><tr>
                <td><%=resource.SimpotBatch.label%></td>
                <td><input type="text" class="form-control" name="simpotBatch" value="<%=record.simpot_batch%>"/></td>
            </tr><tr>
                <td><%=resource.SmPin.label%></td>
                <td><input type="text" class="form-control" name="smPin" value="<%=record.sm_pin%>"/></td>
            </tr><tr>
                <td><%=resource.SmPuk.label%></td>
                <td><input type="text" class="form-control" name="smPuk" value="<%=record.sm_puk%>"/></td>
            </tr><tr>
                <td><%=resource.SmAccControl.label%></td>
                <td><input type="text" class="form-control" name="smAccControl" value="<%=record.sm_acc_control%>"/></td>
            </tr><tr>
                <td><%=resource.SmCodeAdm.label%></td>
                <td><input type="text" class="form-control" name="smCodeAdm" value="<%=record.sm_code_adm%>"/></td>
            </tr><tr>
                <td><%=resource.SpIdE.label%></td>
                <td><input type="text" class="form-control" name="spIdE" value="<%=record.sp_id_e%>"/></td>
            </tr><tr>
                <td><%=resource.SpIdG.label%></td>
                <td><input type="text" class="form-control" name="spIdG" value="<%=record.sp_id_g%>"/></td>
            </tr><tr>
                <td><%=resource.SmStatusRequ.label%></td>
                <td><input type="text" class="form-control" name="smStatusRequ" value="<%=record.sm_status_requ%>"/></td>
            </tr><tr>
                <td><%=resource.SmStaRequDate.label%></td>
                <td><input type="text" class="form-control" name="smStaRequDate" value="<%=record.sm_sta_requ_date%>"/></td>
            </tr><tr>
                <td><%=resource.SmEntdate.label%></td>
                <td><input type="text" class="form-control" name="smEntdate" value="<%=record.sm_entdate%>"/></td>
            </tr><tr>
                <td><%=resource.SmModdate.label%></td>
                <td><input type="text" class="form-control" name="smModdate" value="<%=record.sm_moddate%>"/></td>
            </tr><tr>
                <td><%=resource.SmUserlastmod.label%></td>
                <td><input type="text" class="form-control" name="smUserlastmod" value="<%=record.sm_userlastmod%>"/></td>
            </tr><tr>
                <td><%=resource.SmPin2.label%></td>
                <td><input type="text" class="form-control" name="smPin2" value="<%=record.sm_pin2%>"/></td>
            </tr><tr>
                <td><%=resource.SmPuk2.label%></td>
                <td><input type="text" class="form-control" name="smPuk2" value="<%=record.sm_puk2%>"/></td>
            </tr><tr>
                <td><%=resource.SmAuth.label%></td>
                <td><input type="text" class="form-control" name="smAuth" value="<%=record.sm_auth%>"/></td>
            </tr><tr>
                <td><%=resource.PiId.label%></td>
                <td><input type="text" class="form-control" name="piId" value="<%=record.pi_id%>"/></td>
            </tr><tr>
                <td><%=resource.ExternalInd.label%></td>
                <td><input type="text" class="form-control" name="externalInd" value="<%=record.external_ind%>"/></td>
            </tr><tr>
                <td><%=resource.Vendcode.label%></td>
                <td><input type="text" class="form-control" name="vendcode" value="<%=record.vendcode%>"/></td>
            </tr><tr>
                <td><%=resource.SmAdm1.label%></td>
                <td><input type="text" class="form-control" name="smAdm1" value="<%=record.sm_adm1%>"/></td>
            </tr><tr>
                <td><%=resource.SmAdm2.label%></td>
                <td><input type="text" class="form-control" name="smAdm2" value="<%=record.sm_adm2%>"/></td>
            </tr><tr>
                <td><%=resource.SmAdm3.label%></td>
                <td><input type="text" class="form-control" name="smAdm3" value="<%=record.sm_adm3%>"/></td>
            </tr><tr>
                <td><%=resource.SmAdm4.label%></td>
                <td><input type="text" class="form-control" name="smAdm4" value="<%=record.sm_adm4%>"/></td>
            </tr><tr>
                <td><%=resource.SmCodeRetailer.label%></td>
                <td><input type="text" class="form-control" name="smCodeRetailer" value="<%=record.sm_code_retailer%>"/></td>
            </tr><tr>
                <td><%=resource.SmCodeA.label%></td>
                <td><input type="text" class="form-control" name="smCodeA" value="<%=record.sm_code_a%>"/></td>
            </tr><tr>
                <td><%=resource.SmCodeB.label%></td>
                <td><input type="text" class="form-control" name="smCodeB" value="<%=record.sm_code_b%>"/></td>
            </tr><tr>
                <td><%=resource.SmAuthPending.label%></td>
                <td><input type="text" class="form-control" name="smAuthPending" value="<%=record.sm_auth_pending%>"/></td>
            </tr><tr>
                <td><%=resource.RecVersion.label%></td>
                <td><input type="text" class="form-control" name="recVersion" value="<%=record.rec_version%>"/></td>
            </tr><tr>
                <td><%=resource.SmOrigEsnId.label%></td>
                <td><input type="text" class="form-control" name="smOrigEsnId" value="<%=record.sm_orig_esn_id%>"/></td>
            </tr><tr>
                <td><%=resource.PrepaidProfileId.label%></td>
                <td><input type="text" class="form-control" name="prepaidProfileId" value="<%=record.prepaid_profile_id%>"/></td>
            </tr><tr>
                <td><%=resource.RaProcessId.label%></td>
                <td><input type="text" class="form-control" name="raProcessId" value="<%=record.ra_process_id%>"/></td>
            </tr><tr>
                <td><%=resource.TransactionId.label%></td>
                <td><input type="text" class="form-control" name="transactionId" value="<%=record.transaction_id%>"/></td>
            </tr><tr>
                <td><%=resource.BusinessUnitId.label%></td>
                <td><input type="text" class="form-control" name="businessUnitId" value="<%=record.business_unit_id%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Update</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default""><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
